#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
}

footer {
	margin-top: auto;
	color: black;
}

footer p {
	color: black;
}


/*ESTILOS CRISTIAN LOADER SKELETON*/
.skeleton {
	background-color: #e2e5e7;
	background-image: linear-gradient(90deg, #ffffff00, #ffffff80, #ffffff00);
	background-size: 40px 100%;
	background-repeat: no-repeat;
	background-position: left -40px top 0;
	-webkit-animation: shine 1s ease infinite;
			animation: shine 1s ease infinite;
}
  
@-webkit-keyframes shine {
	to {
	  background-position: right -40px top 0;
	}
}
  
@keyframes shine {
	to {
	  background-position: right -40px top 0;
	}
}

#custom-target {
	position: relative;
	width: 600px;
	height: 300px;
	border-style: solid;
}

  
.position-absolute {
	position: absolute !important;
}